.App {
  margin: 1rem;
  display: grid;
  grid-template-columns: 100%;
}

@media only screen and (max-width: 700px) {
  .App {
    grid-template-columns: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .App {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'header header'
      'description description'
      'left right';
    grid-gap: 1rem;
  }

  .App-header {
    grid-area: header;
  }

  .App_description {
    grid-area: description;
  }
  .inputs {
    grid-area: left;
  }
  .outputs {
    grid-area: right;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

.App_description {
  font-size: 65%;
  color: grey;
}
