:root {
  --animation-time: 150ms;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 150%;
  background-color: var(--page-background);
  color: var(--page-font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  max-width: 45ch;
  margin-bottom: 1em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0.25em;
}

button,
.btn,
input {
  border-radius: 2rem;
  border: none;
  padding: 0.125em 0.75em;
  box-shadow: 0px 0px 5px 0px;
}

button,
.btn {
  background-color: var(--button-bg);
  color: var(--button-font-color);
  transition: background-color var(--animation-time),
    box-shadow var(--animation-time), color var(--animation-time);
  cursor: pointer;
  text-decoration: none;
}

button:disabled,
.btn:disabled {
  background-color: var(--button-bg-disabled);
  color: var(--button-font-color-disabled);
}

input {
  padding-left: 1rem;
}

input:focus {
  border-radius: 2rem;
  outline: none;
}
