.Lettergrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1rem;
  justify-self: center;
  margin: 1em 0;
}

.Lettergrid-letter {
  padding: 0em;
  width: 1.7em;
  line-height: 1.7em;
  text-align: center;
  border-radius: 15%;
}

.Lettergrid-letter-highlighted {
  box-shadow: 1px 1px 8px 2px var(--dark-cornflower-blue) inset;
}
