.WordTreasure {
}

.WordTreasure_word--new-highscore {
  color: gold;
  text-shadow: 1px 1px 2px black;
  transition: color 1s, text-shadow 1s;
}

.WordTreasure_word--newest {
  animation-name: newstuff;
  animation-duration: 500ms;
  font-weight: bold;
}

@keyframes newstuff {
  from {
    font-weight: regular;
  }
  to {
    font-weight: bold;
  }
}
