.WordSmith {
  margin-top: 1rem;
  max-width: 80ch;
  display: flex;
}

.WordSmith_input {
  font-size: 100%;
  min-width: 10ch;
  display: inline-block;
}

.WordSmith_enter,
.WordSmith_backspace {
  float: right;
  font-size: 100%;
  margin-left: 0.6em;
}
