.WordSmith {
  margin-top: 1rem;
  max-width: 80ch;
  display: flex;
}

.WordSmith_input {
  font-size: 100%;
  min-width: 10ch;
  display: inline-block;
  box-shadow: none;
  transition: box-shadow 1s;
}

.WordSmith_input_valid {
  box-shadow: 0px 0px 10px 5px var(--sky-blue-crayola-2),
    0px 0px 15px 20px var(--blizzard-blue);
}

.WordSmith_input:hover,
.WordSmith_input:focus {
}

.WordSmith_enter,
.WordSmith_backspace {
  float: right;
  font-size: 100%;
  margin-left: 0.6em;
}
